<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!------                    Navbar                      ------->


<nav class="navbar navbar-fixed-top navbar-dark bg-dark ">
<a class="navbar-header text-white" href="/campground">YELPCAMP</a>
<a href="/campground"class="nav-item text-white " >BACK</a>
</nav>



<!--                        CreatePage                        -->


<div class="container " style="margin-top:7%;margin-left:18%;">
<h1 style="margin-left:20%;"> Create A New Campground</h1>
<div class="container pl-5 ml-5">
<form action="/campground" enctype="multipart/form-data"   method="POST">

<input type="text"placeholder="Title"name="title" style="width:70%;" class="btn btn-lg mt-3 border-dark"  required >

    
<input type="file" style="width:70%;display: flex;justify-content: end;"  name="image" class="my-2 mb-4  border border-dark rounded btn "  accept="image/*">

<textarea  style="width:70%;height:20%;" class="my-2 mb-4  border border-dark rounded btn" name="description">

</textarea>
<button class="btn btn-primary btn-block" style="width:70%;" >Submit</button>
</form>



</div>
</div>